 h2 {
color:red;
      }
 form {
      color:blue;
          }
 span.time {
      color:blue; 
                 }
 span.topic {
color:red;
      		}
 a {color: blue}
 a.url {color:red;}
